{
    "openapi": "3.0.0",
    "info": {
        "title": "Laravel",
        "description": "Joy VoyagerApi module adds REST Api end points to Voyager with Passport and Swagger support https://github.com/rxcod9/joy-voyager-api.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://lastuseruz.demo",
            "description": "Primary API Server"
        },
        {
            "url": "http://my-default-host.com",
            "description": "Another API Server"
        }
    ],
    "paths": {
        "/api/categories": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get list of Category",
                "operationId": "f923daf680ac66deb18bd56437ca2a23",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/categories/{id}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get list of Category",
                "operationId": "87e7cd6fb3ae11d4904e035f70299857",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                }
            }
        },
        "/api/custom-field-by-category/{category}": {
            "get": {
                "tags": [
                    "CustomField"
                ],
                "summary": "Get by category ID",
                "operationId": "e956115f36720800b5ead04cf0f4daaf",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/custom-field-values-by-custom-field/{custom_field}": {
            "get": {
                "tags": [
                    "CustomField"
                ],
                "summary": "Get custom-field by ID",
                "operationId": "360e8ff096242eae7a10a041ccda91cf",
                "parameters": [
                    {
                        "name": "custom_field",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/custom-field-values-by-task/{task}": {
            "get": {
                "tags": [
                    "CustomField"
                ],
                "summary": "Get by task ID",
                "operationId": "96cd8e7408acc1e566878f63b37eff19",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/faq": {
            "get": {
                "tags": [
                    "FAQ"
                ],
                "summary": "Get of FAQ",
                "operationId": "627dff87644e5af795264e88d68c6a93",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/faq/{id}": {
            "get": {
                "tags": [
                    "FAQ"
                ],
                "summary": "Get of questions in FAQ",
                "operationId": "e8a9316af66afa96c1b26831bbb0c5f2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/press": {
            "get": {
                "tags": [
                    "Massmedia"
                ],
                "summary": "Get list of Massmedia",
                "operationId": "0fa13637ece57023fae30034c3834745",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/api/performers": {
            "get": {
                "tags": [
                    "Performers"
                ],
                "summary": "Get list of Performers",
                "operationId": "731347e6f7c873d149bc292778b4f161",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/api/performers/{performer}": {
            "get": {
                "tags": [
                    "Performers"
                ],
                "summary": "Get list of Performers",
                "operationId": "be33fb1d00766c364214bb291f26b42d",
                "parameters": [
                    {
                        "name": "performer",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/api/settings/update": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "summary": "Update Settings",
                "operationId": "87b781e0e7bbedcd7d91dace78199f65",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "email": {
                                                "type": "string"
                                            },
                                            "age": {
                                                "type": "integer"
                                            },
                                            "phone_number": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "location": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "email": "admin@admin.com",
                                    "age": 17,
                                    "phone_number": "999098998",
                                    "description": "Assalomu aleykum",
                                    "location": "Xorazm viloyati"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "admin@admin.com"
                                        },
                                        "age": {
                                            "type": "integer",
                                            "example": 20
                                        },
                                        "phone_number": {
                                            "type": "string",
                                            "example": "999098998"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Assalomu aleykum"
                                        },
                                        "location": {
                                            "type": "string",
                                            "example": "Xorazm viloyati"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/ref": {
            "get": {
                "tags": [
                    "Refill"
                ],
                "summary": "Get list of Refill",
                "operationId": "dedba959969048c9dffcbf95b3f3db7b",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "500": {
                        "description": "Ajax error"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/prepare": {
            "post": {
                "tags": [
                    "Refill"
                ],
                "summary": "Create new Prepare",
                "operationId": "be047d6d041f9b738528f406ac67ce1d",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "click_trans_id": {
                                                "type": "integer"
                                            },
                                            "service_id": {
                                                "type": "integer"
                                            },
                                            "click_paydoc_id": {
                                                "type": "integer"
                                            },
                                            "merchant_trans_id": {
                                                "type": "integer"
                                            },
                                            "amount": {
                                                "type": "integer"
                                            },
                                            "action": {
                                                "type": "integer"
                                            },
                                            "error": {
                                                "type": "integer"
                                            },
                                            "error_note": {
                                                "type": "string"
                                            },
                                            "sign_time": {
                                                "type": "string"
                                            },
                                            "sign_string": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "click_trans_id": 1613910471,
                                    "service_id": 19839,
                                    "click_paydoc_id": 1747426201,
                                    "merchant_trans_id": 201,
                                    "amount": 6000,
                                    "action": 0,
                                    "error": 0,
                                    "error_note": "Success",
                                    "sign_time": "2022-02-14 20:56:40",
                                    "sign_string": "0fc2457d6db176d12f96b8af2aa25679"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "click_trans_id": {
                                            "type": "integer",
                                            "example": 1613910471
                                        },
                                        "service_id": {
                                            "type": "integer",
                                            "example": 19839
                                        },
                                        "click_paydoc_id": {
                                            "type": "integer",
                                            "example": 1747426201
                                        },
                                        "merchant_trans_id": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "amount": {
                                            "type": "integer",
                                            "example": 6000
                                        },
                                        "action": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "error": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "error_note": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "sign_time": {
                                            "type": "string",
                                            "example": "2022-02-14 20:56:40"
                                        },
                                        "sign_string": {
                                            "type": "string",
                                            "example": "0fc2457d6db176d12f96b8af2aa25679"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "example": "fail"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/complete": {
            "post": {
                "tags": [
                    "Refill"
                ],
                "summary": "Create new Complete",
                "operationId": "76b5301146da4c9c5a3a45fb55809b5f",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "click_trans_id": {
                                                "type": "integer"
                                            },
                                            "service_id": {
                                                "type": "integer"
                                            },
                                            "click_paydoc_id": {
                                                "type": "integer"
                                            },
                                            "merchant_trans_id": {
                                                "type": "integer"
                                            },
                                            "merchant_prepare_id": {
                                                "type": "integer"
                                            },
                                            "amount": {
                                                "type": "integer"
                                            },
                                            "action": {
                                                "type": "integer"
                                            },
                                            "error": {
                                                "type": "integer"
                                            },
                                            "error_note": {
                                                "type": "string"
                                            },
                                            "sign_time": {
                                                "type": "string"
                                            },
                                            "sign_string": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "click_trans_id": 1613910471,
                                    "service_id": 19839,
                                    "click_paydoc_id": 1747426201,
                                    "merchant_trans_id": 201,
                                    "merchant_prepare_id": 33,
                                    "amount": 6000,
                                    "action": 1,
                                    "error": 0,
                                    "error_note": "Success",
                                    "sign_time": "2022-02-14 20:56:40",
                                    "sign_string": "0fc2457d6db176d12f96b8af2aa25679"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "click_trans_id": {
                                            "type": "integer",
                                            "example": 1613910471
                                        },
                                        "service_id": {
                                            "type": "integer",
                                            "example": 19839
                                        },
                                        "click_paydoc_id": {
                                            "type": "integer",
                                            "example": 1747426201
                                        },
                                        "merchant_trans_id": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "merchant_prepare_id": {
                                            "type": "integer",
                                            "example": 33
                                        },
                                        "amount": {
                                            "type": "integer",
                                            "example": 6000
                                        },
                                        "action": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "error": {
                                            "type": "integer",
                                            "example": 0
                                        },
                                        "error_note": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "sign_time": {
                                            "type": "string",
                                            "example": "2022-02-14 20:56:40"
                                        },
                                        "sign_string": {
                                            "type": "string",
                                            "example": "0fc2457d6db176d12f96b8af2aa25679"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "example": "fail"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/admin/reports": {
            "get": {
                "tags": [
                    "Report"
                ],
                "summary": "Get list of Reports",
                "operationId": "2896b2a6438f455504f2cb034e2631f3",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/search-task": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Get list of Tasks and Categories",
                "operationId": "127de8717a061012429b03b03240a847",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/api/tasks-search": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Get list of Tasks",
                "operationId": "fdb13257bd152b1db5c2c5c3e24a63da",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "500": {
                        "description": "Ajax error"
                    }
                }
            }
        },
        "/api/detailed-tasks/{task}": {
            "get": {
                "tags": [
                    "Search"
                ],
                "summary": "Get Task by ID",
                "operationId": "c28cc0364c969c91e25be68618f588b9",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/api/delete-task/{task}": {
            "delete": {
                "tags": [
                    "Search"
                ],
                "summary": "Delete Task",
                "operationId": "769179127b589bbb0f0b9354fa5a4744",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/ajax-request": {
            "post": {
                "tags": [
                    "Search"
                ],
                "summary": "Add new task",
                "operationId": "c1da554eab2487a455858b838141274e",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "status": {
                                                "type": "integer"
                                            },
                                            "performer_id": {
                                                "type": "integer"
                                            },
                                            "task_id": {
                                                "type": "integer"
                                            },
                                            "response_desc": {
                                                "type": "string"
                                            },
                                            "comment": {
                                                "type": "string"
                                            },
                                            "name_task": {
                                                "type": "string"
                                            },
                                            "user_id": {
                                                "type": "integer"
                                            },
                                            "good": {
                                                "type": "string"
                                            },
                                            "notificate": {
                                                "type": "string"
                                            },
                                            "response_time": {
                                                "type": "string"
                                            },
                                            "response_price": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "status": 2,
                                    "performer_id": 77,
                                    "task_id": 12,
                                    "response_desc": "Assalomu Aleykum",
                                    "comment": "Яхшимислар",
                                    "name_task": "Янги задача",
                                    "user_id": 77,
                                    "good": "Яхши",
                                    "notificate": "Salom",
                                    "response_time": "77",
                                    "response_price": "300"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "performer_id": {
                                            "type": "integer",
                                            "example": 20
                                        },
                                        "task_id": {
                                            "type": "integer",
                                            "example": 12
                                        },
                                        "response_desc": {
                                            "type": "string",
                                            "example": "Assalomu Aleykum"
                                        },
                                        "comment": {
                                            "type": "string",
                                            "example": "Яхшимислар"
                                        },
                                        "name_task": {
                                            "type": "string",
                                            "example": "Янги задача"
                                        },
                                        "user_id": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "good": {
                                            "type": "string",
                                            "example": "Яхши"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "example": "fail"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/task/{task}": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Show tasks by ID",
                "operationId": "f81261f5febbe5e9edecf62e8b165e8f",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/my-tasks": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Get list of my Tasks",
                "operationId": "8d42e680a33b8ee945b3e9171b2e7c0d",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/find": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Get list in Tasks",
                "operationId": "60b37da2619850c32aa3b6e4feccae61",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/task/create": {
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Add new task",
                "operationId": "eaeff5e59900942953b4fdd6602d933b",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            },
                                            "address": {
                                                "type": "string"
                                            },
                                            "date_type": {
                                                "type": "string"
                                            },
                                            "start_date": {
                                                "type": "string"
                                            },
                                            "end_date": {
                                                "type": "string"
                                            },
                                            "budget": {
                                                "type": "integer"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "category_id": {
                                                "type": "string"
                                            },
                                            "phone": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "Javoxir",
                                    "address": "Xorazm",
                                    "date_type": "1",
                                    "start_date": "2021-05-17 10:00",
                                    "end_date": "2021-05-17 10:00",
                                    "budget": 10000,
                                    "description": "Juda zo`r",
                                    "category_id": "31",
                                    "phone": "909598654"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "name"
                                        },
                                        "address": {
                                            "type": "string",
                                            "example": "address"
                                        },
                                        "date_type": {
                                            "type": "string",
                                            "example": "1"
                                        },
                                        "start_date": {
                                            "type": "string",
                                            "example": "2021-05-17 00:00"
                                        },
                                        "end_date": {
                                            "type": "string",
                                            "example": "2021-05-17 00:00"
                                        },
                                        "budget": {
                                            "type": "integer",
                                            "example": "100000"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Zo`r"
                                        },
                                        "category_id": {
                                            "type": "integer",
                                            "example": "35"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "909598654"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "msg": {
                                            "type": "string",
                                            "example": "fail"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/change-task/{task}": {
            "put": {
                "tags": [
                    "Task"
                ],
                "summary": "Update Task",
                "operationId": "c7d65b35593a76b8531537f6d0d373d4",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "": {
                                        "properties": {
                                            "name": {
                                                "type": "string"
                                            },
                                            "address": {
                                                "type": "string"
                                            },
                                            "date_type": {
                                                "type": "string"
                                            },
                                            "budget": {
                                                "type": "integer"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "category_id": {
                                                "type": "integer"
                                            },
                                            "phone": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "name": "Javoxir",
                                    "address": "Xorazm viloyati",
                                    "date_type": "1",
                                    "budget": 12000,
                                    "description": "Juda zo`r",
                                    "category_id": "31",
                                    "phone": "998987456"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Javoxir"
                                        },
                                        "address": {
                                            "type": "string",
                                            "example": "Xorazm viloyati"
                                        },
                                        "date_type": {
                                            "type": "string",
                                            "example": "1"
                                        },
                                        "budget": {
                                            "type": "integer",
                                            "example": "15000"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Juda zo`r"
                                        },
                                        "category_id": {
                                            "type": "integer",
                                            "example": "31"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "998987456"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "example": "2021-12-11T09:25:53.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/for_del_new_task/{task}": {
            "delete": {
                "tags": [
                    "Task"
                ],
                "summary": "Delete Task",
                "operationId": "944c123df58af87508b1e98eda756420",
                "parameters": [
                    {
                        "name": "task",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/delete": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Delete User",
                "operationId": "cb2f0570b508943a718fd4db10b9ccb0",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "User logout",
                "operationId": "755cf3bc351a4bb58a6c9bce9f16e4fb",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/users/activitiy/{user}": {
            "get": {
                "tags": [
                    "VoyagerUser"
                ],
                "summary": "Get VoyagerUser by ID",
                "operationId": "fd17ed88ad18e932fe2017a396266013",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Login",
                "operationId": "login",
                "requestBody": {
                    "description": "Pass user credentials",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@admin.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    },
                                    "remember_me": {
                                        "type": "boolean",
                                        "example": "false"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/profile": {
            "get": {
                "tags": [
                    "auth"
                ],
                "summary": "Profile",
                "operationId": "user",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/api/refreshToken": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Refresh Token",
                "operationId": "refreshToken",
                "requestBody": {
                    "description": "Refresh Token",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "refresh_token"
                                ],
                                "properties": {
                                    "refresh_token": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "auth"
                ],
                "summary": "Register",
                "operationId": "register",
                "requestBody": {
                    "description": "User Register",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "User 001"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user001@user.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Auth": {},
            "User": {},
            "Links": {
                "properties": {
                    "first": {
                        "description": "First page api link",
                        "type": "string",
                        "example": "http://localhost:8000/api/users?page=1"
                    },
                    "last": {
                        "description": "Last page api link",
                        "type": "string",
                        "example": "http://localhost:8000/api/users?page=10"
                    },
                    "prev": {
                        "description": "revious page api link",
                        "type": "string",
                        "example": null
                    },
                    "next": {
                        "description": "Next page api link",
                        "type": "string",
                        "example": "http://localhost:8000/api/users?page=2"
                    }
                },
                "type": "object"
            },
            "Meta": {
                "properties": {
                    "current_page": {
                        "description": "Current page",
                        "type": "integer",
                        "example": 1
                    },
                    "from": {
                        "description": "From Offset",
                        "type": "integer",
                        "example": 1
                    },
                    "last_page": {
                        "description": "Last page",
                        "type": "integer",
                        "example": 10
                    },
                    "path": {
                        "description": "Current api path",
                        "type": "string",
                        "example": "http://localhost:8000/api/users?page=2"
                    },
                    "per_page": {
                        "description": "Per page length",
                        "type": "integer",
                        "example": 10
                    },
                    "to": {
                        "description": "To Offset",
                        "type": "integer",
                        "example": 10
                    },
                    "total": {
                        "description": "Total items",
                        "type": "integer",
                        "example": 100
                    },
                    "showCheckboxColumn": {
                        "description": "True if user has bulk delete/action persmission",
                        "type": "boolean",
                        "example": false
                    },
                    "recordsTotal": {
                        "description": "Total items",
                        "type": "integer",
                        "example": 100
                    },
                    "recordsFiltered": {
                        "description": "Total filtered items",
                        "type": "integer",
                        "example": 100
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "token": {
                "type": "apiKey",
                "description": "Bearer token",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "security": [
        []
    ]
}